<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.igor.jetpackcompose">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackCompose">
        <activity
            android:name=".TextCostomizationActivity"
            android:exported="true"
            android:label="@string/title_activity_text_costomization"
            android:theme="@style/Theme.JetpackCompose.NoActionBar" />
        <activity
            android:name=".BoxLayoutActivity"
            android:exported="true"
            android:label="@string/title_activity_box_layout"
            android:theme="@style/Theme.JetpackCompose.NoActionBar" />
        <activity
            android:name=".RowActivity"
            android:exported="false"
            android:label="@string/title_activity_row"
            android:theme="@style/Theme.JetpackCompose.NoActionBar" />
        <activity
            android:name=".ColumnActivity"
            android:exported="false"
            android:label="@string/title_activity_column"
            android:theme="@style/Theme.JetpackCompose.NoActionBar" />
        <activity
            android:name=".MessagesListActivity"
            android:exported="false"
            android:label="@string/title_activity_messages_list"
            android:theme="@style/Theme.JetpackCompose.NoActionBar" />
        <activity
            android:name=".OneMessageActivity"
            android:exported="false"
            android:label="@string/title_activity_one_message"
            android:theme="@style/Theme.JetpackCompose.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.JetpackCompose.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>